<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> HELP PAGE </title>
</head>
<body>
  {{> header}}
  <p> Flipkart.com</p>
  <p> {{screamIt WelcomeMessage}} </p>
  <p> {{pageTitle}} </p>

{{> footer}}

</body>
</html>
